.annotaion_container {
  position: absolute;
  top: 0;
  left: 0;
  transition: box-shadow 0.36s;
}

.annotaion {
  cursor: pointer;
  transition: opacity 0.36s;
}

.connect_point {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #555;
  background: #ccc;
}

.connect_point:hover {
  background: #555;
}

.annotaion_container_to_be_link {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.annotaion_container_to_be_link:active {
  box-shadow: none;
}
