.tab_header {
  border-bottom: 1px solid #ccc;
  padding: 0 8px;
}

.tab_body {
  padding: 8px;
}

.tab_header_button {
  display: inline-block;
  padding: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: 0;
}

.tab_header_button:hover {
  background: #eee;
}

.tab_header_button_selected {
  background: #eee;
  border: 1px solid #ccc;
  border-bottom: 0;
}
