.text_viewer {
  font-size: 13px;
  min-width: 800px;
}

.layout_header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.layout_container {
  display: flex;
  height: calc(100vh - 35px);
}

.metadata_side_container {
  flex: 0 0 250px;
  padding: 8px 0;
  overflow: hidden;
}

.attributes_side_container {
  flex: 0 0 250px;
  padding: 8px;
  overflow: hidden;
}

.center_area_container {
  border: 1px solid #ccc;
  border-top: none;
  min-height: calc(100vh - 50px);
  flex: 1;
  position: relative;
  transition: background 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.attributes_side_container h2 {
  font-size: 16px;
}

.tool_bar_container {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  background: #f8f8fa;
}

.is_adding_annotation {
  background: rgba(9, 154, 235, 0.05);
}

.is_grouping_annotation {
  background: rgba(235, 9, 9, 0.05);
}

.add_annotation_button {
  margin-right: 8px;
}

.text_area_container {
  padding: 16px;
  height: 100%;
  overflow: scroll;
}

.group_name_container {
  border-top: 1px solid #ccc;
  padding: 8px;
  background: #f8f8fa;
}

.group_legend_toggle_button,
.group_legend_label {
  margin-right: 4px;
  margin-bottom: 4px;
  display: inline-block;
}

.group_name {
  display: inline-block;
  background: #999;
  color: white;
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 4px;
  font-size: 12px;
  opacity: 0.5;
  cursor: pointer;
}

.group_name:hover {
  opacity: 0.66;
}
.group_name_selected {
  opacity: 1;
}
.group_name_selected:hover {
  opacity: 1;
}

.button_action_description {
  margin-top: 4px;
  font-size: 12px;
  color: #999;
}
