.group_name {
  padding: 4px;
}

.group_name input {
  margin-right: 4px;
}

.group_name:hover {
  cursor: pointer;
  background: #f8f8f8;
}

.check_indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  margin-right: 8px;
  border: 2px solid red;
  border-radius: 6px;
}

.check_indicator_selected {
  background: red;
}

.selected_group_indicator {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 3px;
  margin-right: 4px;
}
