.text_viewer {
  font-size: 13px;
}

.layout_header {
  padding: 10px;
  background: #eee;
  border-bottom: 1px solid #ccc;
}

.layout_container {
  display: flex;
}

.metadata_side_container {
  flex: 0 0 250px;
  padding: 8px 0;
}

.attributes_side_container {
  flex: 0 0 250px;
  padding: 8px;
}
