.text_area_container {
  position: relative;
  opacity: 0;
}

.text_area_container_visible {
  opacity: 1;
  transition: opacity 0.2s;
}

.text_node_container {
  white-space: pre-wrap;
  position: relative;
  z-index: 5;
  pointer-events: none;
  line-height: 20px;
}

.annotation_line_toggle {
  position: absolute;
  left: -22px;
  width: 18px;
  font-size: 10px;
  padding: 0px;
}

.link_edit_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.ann_edit_rect {
  position: absolute;
  top: 0;
  left: 0;
}

.annotation_text_selection_cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

.cursor {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 8px solid black;
  transform: translate(-50%, 0);
  display: block;
  margin-top: -8px;
  animation: floating 0.36s ease-in 0s infinite alternate;
}

@keyframes floating {
  from {
    transform: translate(-50%, -5px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
