.annotation_container {
  position: absolute;
  top: 0;
  left: 0;
  transition: box-shadow 0.36s;
}

.annotation {
  cursor: pointer;
  transition: opacity 0.36s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.annotation_inner_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-right: 3px solid red;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
}

.annotation_inner_right {
  position: absolute;
  top: -0;
  right: 0px;
  width: 0;
  height: 0;
  border-left: 3px solid red;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(-45deg);
}

.connect_point {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 9px;
  height: 9px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #ccc;
  transition: transform 0.15s, background 0.15s, box-shadow 0.15s;
}

.connect_point_active,
.connect_point:hover {
  background: #555;
  transform: scale(1.6);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.connect_point_active .add_icon::before,
.connect_point_active .add_icon::after,
.connect_point:hover .add_icon::before,
.connect_point:hover .add_icon::after {
  border-color: white;
}

.add_icon {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.add_icon::before {
  content: '';
  width: 5px;
  position: absolute;
  top: 3px;
  left: 1px;
  border-top: 1px solid #555;
}

.add_icon::after {
  content: '';
  height: 5px;
  position: absolute;
  left: 3px;
  top: 1px;
  border-left: 1px solid #555;
}

.annotation_container_in_group {
  border: 1px solid red;
}

.group_id {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: red;
  font-size: 10px;
  padding: 1px 2px;
  color: white;
}
